* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; 
    /*  box-sizing => instaler le padding a l'interieur de l'element ".form-container" dans le width: ; */
    box-sizing: border-box;
    
    
}
body {
    font-family: 'Montserrat', sans-serif;
    /* background: #EBEBEB; */
}

h1,
h2 {
    text-align: center;
}
/* header */
.header {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    /* border: 1px solid; */
    padding: 1rem 2rem;
    transition: transform 250ms ease-in-out;
    background: rgba(0, 0, 0, 0.45);
    z-index: 10;
}

.show {
    transform: translateX(0%);
}

.nav ul li {
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    background: #EBEBEB;
    border-radius: 3px;
    list-style: none;
}

.warper-burger {
    width: 45px;
    height: 40px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.burger {
    width: 40px;
    height: 10px;
    background: lightcoral;
    position: relative;
}

.burger::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    background: lightcoral;
    top: -15px;
}

.burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    background: lightcoral;
    top: 15px;
}

.burger:hover::before {
    transform: rotate(45deg);
}

/* header */



.header{
    background-color: #5F90B4;
    position: relative;
}

#info{
    text-align: center;
}

#info a{
    text-decoration: none;
    color: red;
}

/* .title {
    background-color: #5F90B4;
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    margin-top: 1%;
} */

.wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    background: #EBEBEB;
    padding: 20px 30px;
    border-radius: 8px;
    /* position: absolute;
    top: 50%; 
    left: 50%; 
     -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     */
}
.index{
     position: absolute;
    top: 50%; 
    left: 50%; 
     -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.wrapperCard {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
    /* position: absolute; */
    background: #EBEBEB;
    padding: 20px 30px;
    border-radius: 8px;
    /* top: 50%;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    /* width: 40%; */
    /* margin: 0 auto; */
    /* background: white; */
}


.form-container {
    width: 100%;
    margin: 10px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

label {
    display: block;
    font-size: 20px;
}

.field-container {
    padding: 5px 10px;
    margin: 10px 0 10px;
}

.flex {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.flex-item {
    width: 40%;
    height: 100%;
}

.required {
    color: red;
    font-size: 1.1em;
}

.field-container>input,
.passkey-box>input {
    width: 100%;
    display: inline-block;
    padding: 7px 15px;
    font-size: 18px;
    margin: 5px 0 3px;
    border-radius: 3px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.passkey-box {
    position: relative;
}

.passkey-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.2em;
}

.field-container>input:focus,
.passkey-box>input:focus {
    border-bottom: 2px solid #5F90B4;
}

.error-messg {
    display: block;
    color: red;
    font-weight: 300;
}

.center {
    text-align: center;
}

.error{
    background-color: red;
    color: white;
    text-align: center;
   padding: 5px;
}
input[type='submit'] {
    padding: 10px 30px;
    font-size: 1.2em;
    background: #5F90B4;
    border: 1px solid #EBEBEB;
    outline: none;
    color: #EBEBEB;
    border-radius: 8px;
    cursor: pointer;
} 
.input[type='submit']{
    padding: 10px 30px;
    font-size: 0.7em;
    border: 1px solid #EBEBEB;
    outline: none;
    color: #EBEBEB;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}
.contenaire{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.grid{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.carre{
    width: 200px;
    height: 200px;
    background: #5F90B4;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    padding: 30px;
   margin-bottom:10px;
     
}
.carre_revision{
    width: 300px;
    height: 200px;
    background: #5F90B4;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    padding: 30px;
   margin-bottom:10px;
}

nav {
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

nav .cat{
    width: 100%;
    height: 400px;
    background: #EBEBEB;
    margin-top: 1%;
}

nav .cat > select {
    width: 100%;
}
nav input {
    width: 100%;
}

#cat-select{
    height: 30px;
    width: 100%;

}
.champ{
    width: 100px;
    height: 30px;
    background-color: blue;
}
select {
    font-size: .9rem;
    padding: 2px 10px;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(210, 169, 33);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.option{
    width: 99%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
/* .styled:hover {
    background-color: rgba(255, 0, 0, 1);
} */

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.checkbox-wrapper-7 .tgl {
    display: none;
  }
  .checkbox-wrapper-7 .tgl,
  .checkbox-wrapper-7 .tgl:after,
  .checkbox-wrapper-7 .tgl:before,
  .checkbox-wrapper-7 .tgl *,
  .checkbox-wrapper-7 .tgl *:after,
  .checkbox-wrapper-7 .tgl *:before,
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-7 .tgl::-moz-selection,
  .checkbox-wrapper-7 .tgl:after::-moz-selection,
  .checkbox-wrapper-7 .tgl:before::-moz-selection,
  .checkbox-wrapper-7 .tgl *::-moz-selection,
  .checkbox-wrapper-7 .tgl *:after::-moz-selection,
  .checkbox-wrapper-7 .tgl *:before::-moz-selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-7 .tgl::selection,
  .checkbox-wrapper-7 .tgl:after::selection,
  .checkbox-wrapper-7 .tgl:before::selection,
  .checkbox-wrapper-7 .tgl *::selection,
  .checkbox-wrapper-7 .tgl *:after::selection,
  .checkbox-wrapper-7 .tgl *:before::selection,
  .checkbox-wrapper-7 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after,
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-7 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-7 .tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
  }
  .checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.8em;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
    background: #86d993;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
  }
  .checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
  }
  #image{
    max-width: 70px;
  }
  #contenaire{
    margin-top: -15%;
    margin-left: 25%;
}

.card-wrapper {
    grid-area: card;
    display: flex;
    flex-direction: column;
}
.card-wrapper form div {
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 150px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    border: solid #000;
    transition: transform 0.2s ease-out;
   
}
.card :hover{
    transform: scale(1.02);
}
.double-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.9s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    /* backface-visibility: hidden; */
}
.face,
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    backface-visibility: hidden;

    -webkit-backface-visibility: hidden;
}
.face{
    transform: rotateY(180deg);
}
.face img,
.back img{
    width: 60%;
}

.active {
transform: rotateY(180deg);
}

.main {
    display: flex;
    justify-content: flex-start;
}
.input{
    width: 0.4rem;
    height: 1.5rem;
    font-size: 0.5em;
    text-align: center;
    /* padding: 10px 30px; */
    border: 1px solid #EBEBEB;
    outline: none;
    color: #EBEBEB;
    border-radius: 8px;
    cursor: pointer;
}

/* @media */
@media(max-width :500px){
    .grid{
        display: block;
    }
    h1,h3{
        font-size: 1rem;
    }
    h2{
        font-size: 0.8rem;
    }
    .carre{
        width: 150px;
        height: 150px;
    }
    .nav{
        width: 60vh;
        position: fixed;
        top: 0;
        left: 0;
       
        margin-top: 3rem;
        /* border: 1px solid; */
        /* padding: 1rem 2rem; */
      
        z-index: 10;
    }
    a{
        font-size: small;
    }

}
  
@media screen and (max-width: 576px) {
    .wrapper {
      width: 100%;
      padding: 100px 10px 30px;
      border-radius: 0; }
  
    h1 {
      margin-top: 50px; }
  
    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  
    .flex-item {
      width: 100%; } }
  @media screen and (min-width: 576px) {
    .wrapper {
      width: 80%;
      padding: 100px 10px 30px;
      border-radius: 0; }
  
    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  
    .flex-item {
      width: 100%; } }
  @media screen and (min-width: 662px) {
    .wrapper {
      width: 70%;
      padding: 100px 10px 30px;
      border-radius: 0; }
  
    .flex-item {
      width: 90%;
      height: 100%; } }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 80%;
      padding: 30px 10px;
      border-radius: 0; }
  
    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  
    .flex-item {
      width: 40%;
      height: 100%; } }
  @media screen and (min-width: 992px) {
    .wrapper {
      max-width: 876px;
      padding: 30px 10px;
      border-radius: 0; } }
  
        

/* fin */

